# Ambiente virtual  
.venv/  
bin/  

# Logs  
logs/  
airflow-webserver.pid  

# Arquivos de configuração e banco de dados  
*.cfg  
*.db  
webserver_config.py  

# Arquivos Python temporários  
__pycache__/  
*.pyc  

# Arquivos do sistema  
.DS_Store  

# Configurações de IDE  
.idea/ 